<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>VBAN Control</title>
    <script src="/static/script.js"></script>
</head>
<body>
    <h1>VBAN Control</h1>
    <form id="vbanForm">
        Host: <input type="text" id="host"><br>
        Puerto: <input type="text" id="port"><br>
        Stream: <input type="text" id="stream"><br>
        VBAN Path: <input type="text" id="vban_path"><br>
    </form>
    <button onclick="startVBAN()">Reiniciar VBAN</button>
    <button onclick="stopVBAN()">Detener VBAN</button>
</body>
</html>
